@import './third-party/mui-flexbox/mui-flexbox';
@import './_/icons';

// Bootstrap vue
@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap-vue/dist/bootstrap-vue.css';

// UBold
@import './third-party/ubold/morris/morris.css';

@import './third-party/ubold/datatables/dataTables.bootstrap4.min.css';
@import './third-party/ubold/datatables/buttons.bootstrap4.min.css';
@import './third-party/ubold/datatables/responsive.bootstrap4.min.css';
@import './third-party/ubold/datatables/select.bootstrap4.min.css';
@import './third-party/summernote/summernote-bs4.css';

@import './third-party/ubold/jstree/style.css';
@import './third-party/ubold/bootstrap.min.css';
@import './third-party/ubold/icons.css';
@import './third-party/ubold/style.css';

i.icon {
  display: inline-block;
}

@each $icon in $spritesheet-sprites {
  $icon-name: nth($icon, 10);
  .icon-#{$icon-name} {
    @include sprite($icon);
  }
}

[v-cloak], [hidden], .hidden {
  display: none;
}

html,
body {
  height: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
}

body.different-contrast {
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;

  #app {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;
  }

  #wrapper {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;

    .content-page {
      flex: 1 1 auto;
      display: flex;
      flex-flow: column nowrap;

      .content {
        flex: 1 1 auto;
        display: flex;
        flex-flow: column nowrap;
        margin-bottom: 45px;
        margin-right: -5px;
      }
    }
  }
}
