.custom-query-template {

  .conditions {

    .form-group {

      > * {
        margin-right: 10px;

        &:nth-last-child(1) {
          margin-right: 0;
        }
      }
    }
  }

  .group-by {
    border-top-style: dashed !important;

    .form-group {

      > * {
        margin-right: 10px;

        &:nth-child(1), &:nth-last-child(1) {
          margin-right: 0;
        }
      }
    }
  }

  #export-index-modal {

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {

        a.active {
          text-decoration: underline;
        }
      }
    }

    .brn-wrap {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      /deep/ button {
        margin: 5px 0;
      }
    }

    .card-box {
      padding: 0;

      .table {

        th {
          vertical-align: middle;
        }
      }

      /deep/ .custom-control-label {
        padding-left: 20px !important;
      }
    }
  }
}